In [126]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 200

In [166]:
df = pd.read_csv('mt-ppp-loans.csv')
# cleaning
df['BusinessName'] = df['BusinessName'].str.strip()
df['industry'] = df['industry'].str.strip()
df['Address'] = df['Address'].str.strip()
df['City'] = df['City'].replace({
    '3010 STEVENSVILLE': 'STEVENSVILLE',
    '416 BELGRADE': 'BELGRADE',
    'BILLINGS,': 'BILLINGS',
    'BOZEMAN, MT': 'BOZEMAN',
    'CORVALLIS,': 'CORVALLIS',
    'GALITIN GATEWAY': 'GALLATIN GATEWAY',
    'GALLATIN GTWY': 'GALLATIN GATEWAY',
    'GREATFALLS': 'GREAT FALLS',
    'KALISPEL': 'KALISPELL',
    'MC LEOD': 'MCLEOD',
    'POMPEY PILLAR': 'POMPEYS PILLAR',
    'SWEETGRASS': 'SWEET GRASS',
    'THOMPSON FALLS,': 'THOMPSON FALLS',
    'THOMPSON FLS': 'THOMPSON FALLS',
    'W YELLOWSTONE': 'WEST YELLOWSTONE',
    'WHITE FISH': 'WHITEFISH',
})

In [167]:
df.to_csv('mt-ppp-loans.csv', index=False)

In [189]:
# by zip
temp = pd.read_csv('mt-ppp-loans.csv', na_values='undisclosed')
by_zip = temp.groupby('Zip').agg(
    count=('BusinessType','count')
)
by_zip = by_zip.reset_index().rename(columns={'Zip': 'zip_code'})
by_zip.to_csv('by_zip.csv', index=False)

In [181]:
temp[temp['Zip'] == 59934]

,LoanRange,LoanAmount,BusinessName,Address,City,State,Zip,BusinessType,NAICSCode,industry,industry_broad,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
1395,"i $10,000-$25,000","$13,020",NaN,NaN,TREGO,MT,59934,Corporation,484121,"General Freight Trucking, Long-Distance, Truck...",Transportation,Unanswered,Unanswered,Unanswered,NaN,1.0,5/5/20,First Interstate Bank,MT - 00
1560,"i $10,000-$25,000","$13,700",NaN,NaN,TREGO,MT,59934,Limited Liability Company(LLC),453998,All Other Miscellaneous Store Retailers (excep...,Retail Trade,Unanswered,Unanswered,Unanswered,NaN,NaN,4/14/20,Glacier Bank,MT - 00
2654,"j <$10,000","$3,200",NaN,NaN,TREGO,MT,59934,Limited Liability Company(LLC),531311,Residential Property Managers,Real Estate and Rental and Leasing,Unanswered,Unanswered,Unanswered,NaN,3.0,4/4/20,First Federal Bank & Trust,MT - 00

In [149]:
# sorted(list(df['NonProfit'].unique()))

In [156]:
df['industry_broad'].unique()

array(['Health Care and Social Assistance',
       'Administrative and Support and Waste Management and Remediation Services',
       'Professional, Scientific, and Technical Services',
       'Finance and Insurance', 'Construction',
       'Other Services (except Public Administration)',
       'Educational Services', 'Wholesale Trade', 'Retail Trade',
       'Public Administration', 'Transportation',
       'Accommodation and Food Services', 'Manufacturing', 'Information',
       'Real Estate and Rental and Leasing',
       'Mining, Quarrying, and Oil and Gas Extraction', 'Utilities',
       'Arts, Entertainment, and Recreation',
       'Agriculture, Forestry, Fishing and Hunting',
       'Management of Companies and Enterprises', nan], dtype=object)

In [160]:
df.columns

Index(['LoanRange', 'LoanAmount', 'BusinessName', 'Address', 'City', 'State',
       'Zip', 'BusinessType', 'NAICSCode', 'industry', 'industry_broad',
       'RaceEthnicity', 'Gender', 'Veteran', 'NonProfit', 'JobsRetained',
       'DateApproved', 'Lender', 'CD'],
      dtype='object')

In [109]:
cols = ['LoanRange','LoanAmount','BusinessName','City','industry','industry_cat','JobsRetained']

In [21]:
# Number of loans
len(df)

22785

In [22]:
# By loan range
df['LoanRange'].value_counts()

i $10,000-$25,000       6340
j <$10,000              6115
h $25,000-$50,000       3905
g $50,000-$100,000      3055
e $150,000-350,000      1377
f $100,000-150,000      1184
d $350,000-1 million     582
c $1-2 million           154
b $2-5 million            63
a $5-10 million           10
Name: LoanRange, dtype: int64

In [117]:
1377 + 582 + 154 + 63 + 10 # > 150k
6340 + 3905 + 3055 + 1184  # 10k - <150k

14484

In [24]:
# By industry
df['industry_cat'].value_counts()

Construction                                                                2551
Professional, Scientific, and Technical Services                            2447
Health Care and Social Assistance                                           2192
Other Services (except Public Administration)                               2181
Accommodation and Food Services                                             2151
Retail Trade                                                                2011
Agriculture, Forestry, Fishing and Hunting                                  1699
Real Estate and Rental and Leasing                                          1153
Manufacturing                                                               1041
Arts, Entertainment, and Recreation                                          921
Administrative and Support and Waste Management and Remediation Services     866
Transportation                                                               721
Utilities                                                                    685
Finance and Insurance                                                        630
Wholesale Trade                                                              617
Educational Services                                                         291
Mining, Quarrying, and Oil and Gas Extraction                                267
Information                                                                  245
Public Administration                                                         95
Management of Companies and Enterprises                                       19
Name: industry_cat, dtype: int64

In [193]:
df.pivot_table(columns='LoanRange',index='industry_broad', values='LoanAmount', aggfunc='count', fill_value=0).to_clipboard()

In [42]:
large = df[df['LoanAmount'] == 'undisclosed']
small = df[df['BusinessName'] == 'undisclosed']

In [54]:
# df[df['industry'] == 'Religious Organizations'].head(20)

In [118]:
# df['City'].value_counts().tail(200)

In [106]:
df[df['City'] == 'WHITE SULPHUR SPRINGS'][cols].groupby(['industry_cat','industry']).agg(count=('LoanAmount','count'))

                                                                                                     count
industry_cat                                     industry
Accommodation and Food Services                  Drinking Places (Alcoholic Beverages)                   2
                                                 Full-Service Restaurants                                5
                                                 Hotels (except Casino Hotels) and Motels                1
Agriculture, Forestry, Fishing and Hunting       Beef Cattle Ranching and Farming                        6
                                                 Hunting and Trapping                                    1
                                                 Logging                                                 2
                                                 Support Activities for Animal Production                1
Arts, Entertainment, and Recreation              Golf Courses and Country Clubs                          1
                                                 Independent Artists, Writers, and Performers            1
                                                 Promoters of Performing Arts, Sports, and Simil...      1
Construction                                     Electrical Contractors and Other Wiring Install...      1
                                                 New Multifamily Housing Construction (except Fo...      1
Health Care and Social Assistance                Child and Youth Services                                1
                                                 Diagnostic Imaging Centers                              1
                                                 General Medical and Surgical Hospitals                  1
Manufacturing                                    Breweries                                               1
                                                 Meat Processed from Carcasses                           1
                                                 Welding and Soldering Equipment Manufacturing           1
Mining, Quarrying, and Oil and Gas Extraction    Copper, Nickel, Lead, and Zinc Mining                   1
Other Services (except Public Administration)    Other Social Advocacy Organizations                     1
Professional, Scientific, and Technical Services Administrative Management and General Managemen...      1
                                                 Offices of Certified Public Accountants                 1
Retail Trade                                     All Other Miscellaneous Store Retailers (except...      1
                                                 Hardware Stores                                         1
                                                 Pharmacies and Drug Stores                              1
                                                 Supermarkets and Other Grocery (except Convenie...      2
Wholesale Trade                                  Recyclable Material Merchant Wholesalers                1

In [199]:
len(df[df['City'] == 'EKALAKA'])

15

In [202]:
df['NonProfit'].value_counts(dropna=False, normalize=True)

NaN    0.955497
Y      0.044503
Name: NonProfit, dtype: float64

In [141]:
df[df['City'] == 'WHITE SULPHUR SPRINGS'][cols]['LoanAmount'].replace('undisclosed', np.nan).str.replace('$','').str.replace(',','').astype(float).sum()

893536.0

In [124]:
pd.Series().sum?

Signature: sum(iterable, start=0, /)
Docstring:
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
Type:      builtin_function_or_method

In [ ]:
pd.Series().sum

In [142]:
893536 + 350000*2

1593536

In [200]:
 len(df)

22785